<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="wsHttpBinding" messageEncoding="Mtom">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://testservices.kymmis.com/BatchUploadDownloadServiceApp/BatchService.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttpBinding"
                contract="ServiceReference1.BatchWebServiceInterface" name="wsHttpBinding" />
        </client>
    </system.serviceModel>
</configuration>